body {
  font-family: 'Roboto', sans-serif !important;
}

#userForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 18px;

  padding: 30px 0;

  height: 400px;
}

#userForm input{
  width: 250px;
  height: 35px;
  border-radius: 20px;
  padding: 10px;
}

#userForm button{
  width: 150px;
  height: 35px;
  border-radius: 20px;
  padding: 10px;

  font-size: 16px;
  font-weight: bold;
  background-color: rgb(135, 1, 189);
  color: #fff;
}

#userForm button:hover{
  color: rgb(135, 1, 189);
  background-color: #fff;
  transition: all 0.3s;
}

#required-notation {
  font-size: 10px;
  color:  rgb(171, 8, 8);
}

.input-wrapper {
  position: relative;
}

#HEADLINE43 > #header-ladi-headline.ladi-headline{
  font-size: 79px ;
}

#IMAGE83 > .ladi-image {
  width: 210px;
  position: relative;
  right: -21px;
  top: -1px;
}

#IMAGE82 > .ladi-image {
  width: 210px;
  position: relative;
  top: -1px;
}

.ladi-container > #IMAGE82 > .ladi-image > .ladi-image-background {
  width: 100%;
  left: 0px;
}

.ladi-group > #HEADLINE59 > .ladi-headline,  
.ladi-group > #HEADLINE60 > .ladi-headline,  
.ladi-group > #HEADLINE61 > .ladi-headline {
  font-size: 39px;
}

.ladi-group > #HEADLINE62 > .ladi-headline, 
.ladi-group > #HEADLINE63 > .ladi-headline, 
.ladi-group > #HEADLINE64 > .ladi-headline {
  font-size: 16px;
}

#GROUP7 > .ladi-group {
  position: relative;
  top: -10px;
}

#IMAGE95 > .ladi-image.ladi-transition, 
#IMAGE96 > .ladi-image.ladi-transition,
#IMAGE97 > .ladi-image.ladi-transition, 
#IMAGE98 > .ladi-image.ladi-transition, 
#IMAGE99 > .ladi-image.ladi-transition {
    border-width: 0;
}

.ladi-container > #BOX24 {
  width: 420px;
  left: 0;
}

#IMAGE68.ladi-element > .ladi-image  {
  width: 425px;
}
#IMAGE68.ladi-element > .ladi-image > .ladi-image-background {
  width: 425px;
}

#IMAGE68.ladi-element {
  left: 0;
}

#IMAGE65.ladi-element > .ladi-image  {
  width: 425px;
}
#IMAGE65.ladi-element > .ladi-image > .ladi-image-background {
  width: 425px;
}

#IMAGE65.ladi-element {
  left: 0;
}

.top-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-header-1 {
  text-transform: uppercase;
  color: #f787ab;
  font-weight: bold;
  margin-bottom: 5px;
}

.top-header-2 {
  text-transform: uppercase;
  color: #f787ab;
  text-align: center;
  margin-bottom: 5px;
}

.top-header-3 {
  text-transform: uppercase;
  background-color: #f787ab;
  color: #fff;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.7px;
}

body #IMAGE5 > .ladi-image > .ladi-image-background  {
  background-image: url(images/silver-dress_158538-23921-removebg-preview.png);
  background-position: center;
  width: 560px;
}

body #IMAGE3 > .ladi-image > .ladi-image-background {
  background-image: url(images/products.png);
  background-position: center;
  width: 220px;
}

body #IMAGE3 > .ladi-image {
  transform: rotate(0deg);
}

body #IMAGE3 {
  top: 560px;
  left: 180px;
}

.countdown-block-head {
  position: relative; 
  z-index: 5;
  width: 100%; 
  height: 50px; 
  background-color: #ffeee8; 
  padding: 5px 10px;
}
 
.countdown-block-head-p1 {
  color: red;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.countdown-block-head-p2 {
  color: gray;
  font-size: 12px;
  text-transform: capitalize;
}

.countdown-block-counter {
  display: flex;
  align-items: center;
  position: relative; 
  z-index: 1;
  top: 40px;
  width: 100%; 
  height: 40px; 
  padding: 5px 10px;
  background-color: #fc7e3f;
}

.countdown-block-counter-p1 {
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 3px;
}

#IMAGE20 > .ladi-image > .ladi-image-background {
  background-position: center;
}

#IMAGE19 > .ladi-image > .ladi-image-background {
  background-position: center;
  height: 250px;
}

.image-2week-block {
  position: relative;
  z-index: 5;
  top: 866px;
  height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(images/Leena_Blog_Cover_Leena_Blog_Cover_-_1220x890_94829447-c9d1-4a6c-a19e-de6c7613babd.webp);
}

body #IMAGE21 > .ladi-image > .ladi-image-background  {
  position: relative;
  top: 150px;
  background-position: center;
  height: 400px;
}

.using-effect-block {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%, 30%);
  z-index: 10;
  font-size: 22px;
  font-weight: bold;
  color: rgb(89, 88, 88);
}

.using-effect-description {
  position: absolute;
  top: 395px;
  z-index: 10;
  font-size: 16px;
  width: 100%;
  padding: 0 15px;
  /* font-weight: bold; */
  color: rgb(89, 88, 88);
  text-align: center;
  background-color: #fff;
}

body #HEADLINE12 > .ladi-headline {
  font-size: 19px;
}

.fon-substitution {
  position: absolute;
  z-index: 9;
  top: 406px;
}

.fon-substitution img{
 width: 463px;

}

.product-substitution {
  position: absolute;
  z-index: 10;
}

.product-substitution img {
  position: absolute;
  width: 188px;
  height: auto; 
  top: 410px;
  left: 69px;
}

.quality-substitution {
  position: absolute;
  z-index: 10;
}

.quality-substitution-1 {
  top: 380px;
  right: -16px;
}

.quality-substitution-2 {
  top: 480px;
  right: 0;
}

.quality-substitution-1 img {
  width: 150px;
}

.quality-substitution-2 img {
  width: 120px;
}

.beauty-awards-block  {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 715px;  
  width: 100%;
  height: 90px;
  background-color: #e772a9;
  color: #fff;
  font-size: 23px;
  text-align: center;
  font-weight: 900;
}

.mexican-flag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 250px;
  height: 120px;
  position: absolute;
  z-index: 10;
  background-color: #e5eeff;
  color: #004aac;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.flag-container {
  position: absolute;
  z-index: 10;
  right: 15px;
  top: 10px;
}

.flag-container img {
  width: 180px;
  height: auto;
  border-radius: 10px;
}

.product-container {
  position: absolute;
  z-index: 10;
  top: 211px;
  left: 26px;
}

.product-container img {
  height: 200px;
}

.benefit {
  position: absolute;
  z-index: 10;
  background-color: #e5eeff;
  color: #0049ae;
  font-size: 20px;
  font-weight: 700;
  left: 106px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
}

.benefit-1 {
  top:415px;
}

.benefit-2 {
  top:500px;
}

.benefit-3 {
  top: 585px;
}

.property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: #2567bd;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  width: 190px;
  height: 110px;
  left: 207px;
}

.property-1 {
  top: 380px;
}


.property-2 {
  top: 530px;
}

.property-span {
  font-weight: 900;
  font-size: 56px;
}

.line-position {
  left: -14px;
}

.photo-before-after-container {
  position: absolute;
  left: -102px;
  top: 214px;
}

.photo-before-after {
  width: 397px;
  height: auto;
}

.girls-face-image-wrapper {
  position: absolute;
  z-index: 10;
  top: -300px;
  display: none;
}

.girls-face-image {
  width: 200px;
  height: auto;
}

.advantage-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 10;
  left: 220px;
  width: 200px;
  background-color: #95268b;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}

.advantage-block span {
  font-size: 62px;
  font-weight: 900;
}

.advantage-block-absorb {
  top: -341px;
  height: 129px;
}

.advantage-block-cream {
  padding: 8px;
  top: -204px;
  height: 204px;
}

.prod-replace {
  position: absolute;
  z-index: 11;
  width: 193px;
  height: auto;
  top: 7px;
  left: 104px;
}

.glowpick-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 10;
  background-color: #e771a9;
  color:#fff;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  height: 90px;
  top: 312px;
}

.product-with-fon {
  position: absolute;
  z-index: 10;
  top: -1px;
}

.product-with-fon img {
  width: 420px;
  height: auto;
}

body #HEADLINE40 > .ladi-headline {
  top: 30px;
  font-weight: bold;
}

body #IMAGE75 > .ladi-image > .ladi-image-background {
  background-size: contain;
  background-position: center;
}

body #IMAGE55 > .ladi-image > .ladi-image-background {
  background-size: contain;
  background-position: center;
}

body #IMAGE54 > .ladi-image > .ladi-image-background {
  background-size: contain;
  background-position: center;
}

body #IMAGE84 > .ladi-image > .ladi-image-background {
  display: none;
}

.colagen-block {
  position: absolute;
  z-index: 10;
  top: 443px;
  left: 129px;
}

.colagen-block img{
  width: 292px;
  height: auto;
}

body #IMAGE89 > .ladi-image > .ladi-image-background {
  display: none;
}

.sensetive-block {
  position: absolute;
  z-index: 10;
  right: -72px;
  top: 25px;
}

.sensetive-block img {
  width: 275px;
  height: auto;
}

body #IMAGE91 > .ladi-image > .ladi-image-background {
  display: none;
}

.product-sensetive-block {
  position: absolute;
  z-index: 10;
  right: 28px;
  top: 256px;
}

.product-sensetive-block img {
  width: 110px;
  height: auto;
}

.flower-sensetive-block {
  position: absolute;
  z-index: 10;
  right: -44px;
  top: 312px;
}

.flower-sensetive-block img {
  width: 130px;
  height: auto;
}

.text-replace {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  width: 380px;
  background-color: #fff;
  z-index: 10;
  color: #95268b;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  left: 20px;
  font-family: 'Roboto', sans-serif;
}

.text-replace-1 {
  top: 559px;
}

.text-replace-2 {
  font-size: 18px;
  top: 743px;
}

body .ladi-group > #HEADLINE63 > .ladi-headline {
  width: 125px;
}

.product-bottom-block-wrapper  {
  position: absolute;
  z-index: 10;
  top: 244px;
  left: 88px;
}

.product-bottom-block-wrapper img {
  width: 250px;
  height: auto;
}

.product-bottom-block-background {
  position: relative;
  z-index: 9;
  top: 0;
  left: -102px;
}

body .ladi-image-bottom-block {
  height: 89%;
}

.product-bottom-block-header {
  position: absolute;
  z-index: 10;
  font-size: 36px;
  color: #95268b;
  text-transform: uppercase;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  text-align: center;
  width: 350px;
}

.product-bottom-block-description {
  position: absolute;
  z-index: 10;
  font-size: 16px;
  color: #95268b;
  text-transform: uppercase;
  left: 50%;
  top: 18%;
  transform: translate(-50%);
  text-align: center;
  width: 350px;
}

body #HEADLINE3 > .ladi-headline {
  text-decoration: underline;
}

body #IMAGE19 > .ladi-image > .ladi-image-background {
  height: 250px;
}